@layer utilities {
    .scrollbar-custom {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.scrollbar-thumb') transparent;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: theme('colors.scrollbar-thumb');
        border-radius: 20px;
        border: 3px solid transparent;
    }
}