.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.active{
    color: #ffffff !important;
    background-color: #313EAC;
    border-color: #007bff;
    border-radius: 8px;
    padding: 5px;
}
button{
    background-color: transparent;
    border-radius: 10px;
    color: #313EAC;
    border: none;
    font-size: 1rem;
}